$mediumScreen: 992px;
$smallScreen: 576px;

$white: #FFFFFF;
$black: #000000;
$dark: #1d211b;
$gray: #7e7e7e;
$darkGray: #363636;
$light: #f3f0f0;
$green: #17ac87;
$darkGreen: #0f5644;
$red: #ac173c;
