@use '../../styles/vars';

.day {
	list-style: none;
	padding: 5px;
	border: 1px solid vars.$darkGray;
	height: 90px;
	overflow: hidden;
	&:hover {
		border-color: vars.$green;
	}

	&__date {
		width: 35px;
		height: 35px;
		padding: 10px;
		margin-bottom: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.1em;
		border: 2px solid transparent;
		@media (max-width: vars.$mediumScreen) {
			font-size: 14px;
			width: 30px;
			height: 30px;
		}
		&_today {
			border-radius: 50%;
			background-color: vars.$darkGreen;
			border-color: 2px solid vars.$darkGreen;
		}
		&_off {
			border-radius: 50%;
			border: 2px solid vars.$red;
		}
	}
	.calendar_week & {
		min-height: 300px;
		height: 100%;
	}
}