@use '../../styles/vars';

.day {
	list-style: none;
	padding: 5px;
	border: 1px solid vars.$darkGray;
	height: 80px;
	overflow: hidden;
	&:hover {
		border-color: vars.$green;
	}

	&__date {
		width: 30px;
		height: 30px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.1em;
		&_today {
			border-radius: 50%;
			border: 2px solid vars.$green;
		}
	}



}